.top{
  text-align: center;
  border-bottom: 1px solid black;
  margin: auto;
  width: 100%;
}

.user{
  text-align: center;
}

.label{
  display:block;
  margin-right: 20px;
  background-color: aqua;
}

.bank{
  text-align: center;
  border-bottom: 1px solid black;
  margin: auto;
  width: 100%;
}

.button{
  text-align: center;
}

.wrapper{
  border: 1px solid black;
  margin: auto;
  width: 50%;
}